@model IEnumerable<SchoolDomains.ClassType>

@{
    ViewBag.Title = "Список типов классов";
}

<h2>Список типов классов</h2>

<p>
    @Html.ActionLink("Добавить тип класса", "AddClassType")
</p>
<table>
    <tr>
        <th>
            Типы класса
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditClassType", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "DeleteClassType", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Назад к администрированию", "Index", "Home")
</div>