@model IEnumerable<SchoolDomains.Locality>

@{
    ViewBag.Title = "Список районов";
}

<h2>Список районов</h2>

<p>
    @Html.ActionLink("Добавить район", "AddLocality")
</p>
<table>
    <tr>
        <th>
            Районы
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            @Html.DisplayFor(modelItem => item.ShName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditLocality", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "DeleteLocality", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Назад к администрированию", "Index", "Home")
</div>