@{
    ViewBag.Title = "Администрирование";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>

        </div>
    </section>
}

<section class="home-admin-menu">
    <div class="admin-roles">
        <header>
            <h2>Управление учетными записями</h2>
        </header>
            <p>
                @Html.ActionLink("%Управление пользователями%", "ViewUser", "Admin")
                @Html.ActionLink("%Управление администраторами%", "ViewAdmin", "Admin")
            </p>
    </div>
    <div class="admin-add">
        <header>
            <h2>Добавление</h2>
        </header>
            <p>
                @Html.ActionLink("Управление формой обучения", "ViewStudyForm", "Admin")
                @Html.ActionLink("Управление типом обучения", "ViewStudyType", "Admin")
                @Html.ActionLink("Управление типами классов", "ViewClassType", "Admin")
                @Html.ActionLink("Управление типами школ", "ViewSchoolType", "Admin")
                <br />
                @Html.ActionLink("Управление национальностями", "ViewNationality", "Admin")
                @Html.ActionLink("Управление районами", "ViewLocality", "Admin")
                @Html.ActionLink("%Управление школами%", "ViewSchool", "Admin")
            </p>
    </div>
    <div class="admin-user">
        <header>
            <h2>Меню пользователя</h2>
        </header>
            <p>
                @Html.ActionLink("Войти в меню пользователя", "UserIndex", "Home")
            </p>
    </div>
<//section>