@{
    ViewBag.Title = "Администрирование";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>

        </div>
    </section>
}

<section class="home-admin-menu">
    <div class="admin-add">
        <header>
            <h2>Добавление</h2>
        </header>
            <p>
                @Html.ActionLink("Добавить тип класса", "AddClassType", "Admin")
                @Html.ActionLink("Добавить тип школы", "AddSchoolType", "Admin")
                @Html.ActionLink("Добавить форму обучения", "AddStudyForm", "Admin")
                @Html.ActionLink("Добавить тип обучения", "AddStudyType", "Admin")
                @Html.ActionLink("Добавить национальность", "AddNationality", "Admin")
                @Html.ActionLink("Добавить район", "AddLocality", "Admin")
            </p>
    </div>
    <div class="admin-user">
        <header>
            <h2>Меню пользователя</h2>
        </header>
            <p>
                @Html.ActionLink("Войти в меню пользователя", "UserIndex", "Home")
            </p>
    </div>
<//section>